@import "../../scss/settings.scss";


.Dylerz {

  &-menuRipple {
    position: absolute;
    transform: translateY(600px);
    opacity: .5;
  }

  &-symbol {
    display: inline-block;
    letter-spacing: 0;
    transform: translateY(-50px);
  }

  &-symbolLittle {
    font-size: 50px;
    display: inline-block;
    transform: translateY(-50px);
    margin-left: 10px;
  }

  &-showCase {
    position: relative;


    &-computer {

      margin: 50% 0 100px;

      &-device {
        position: absolute;
        width: 140%;
        left: -20%;
        top: -1.5%;
        height: auto;
        z-index: -1;
      }

      &-screen {
        width: 100%;
        height: auto;
        z-index: 3;
        box-shadow: 0px 7px 25px rgba(black, .15);
      }
    }

    &-events {
      position: relative;
      height: 500px;

      .imageContainer {
        position: absolute;
        left: -40px;
        z-index: 2;
      }

      .image {
        height: 200px;
        width: auto;

        box-shadow: 0px 3px 15px rgba(black, .15);

      }

      .pictoContainer {

        position: absolute;
        right: 0;
        top: -120px;

        width: 450px;
        height: 450px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        z-index: 1;


        .picto-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .picto {
          width: 20%;
          height: 20%;
          display: flex;
          justify-content: center;
          align-items: center;

          color: white;
          text-shadow: 0 5px 15px rgba(black, .1);
          font-size: 150px;

          &.triangle {
            font-size: 35px;
          }

          &.letter {
            font-size: 50px;
            margin-top: 25px;
          }

        }

      }
    }

    &-menu {

      height: 750px;
      width: 915px;

      margin: 0 0 500px;

      .imageContainer {

        position: absolute;
        right: 0;

        .image {

        }

      }
    }
  }
}
