@import "../../scss/settings.scss";


.Jaiye {
  &-showCase {
    margin: 120px 0 400px;

    &-item {
      display: inline-block;
      width: 50%;
      margin-bottom: 50px;

      &:nth-child(1) {
        margin-left: 50%;
      }

      &:nth-child(even) {
        text-align: left;
        transform: translateY(-50%);

        .label {
          text-align: left;
          transform: translateX(90%) translateY(-300%);
        }
      }

      &:nth-child(odd) {
        text-align: right;

        .label {
          text-align: right;
          transform: translateX(-20%) translateY(-300%);
        }
      }


      .wireframe {
        max-width: 100%;
        height: auto;
        border-radius: 60px;
        box-shadow: 0 5px 30px rgba(black, .2);
        z-index: 2;
      }

      .label {
        width: 60%;
        font-size: 50px;
        z-index: 3;
      }
    }
  }
}
