@import "../../scss/settings.scss";

@keyframes buttonPop {
  0% {
    box-shadow: 0 0 0 rgba(black, 0);
    text-shadow: 0 0 0 rgba(black, 0);
  }

  100% {
    box-shadow: 0 7px 10px rgba(black, .2);
    text-shadow: shadow();
  }
}


.Home {

  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;

  &-project {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 0;
    &--selected {
      z-index: 2;
    }
  }

  &-title {
    position: absolute;
    left: 15%;
    width: 40%;
    top: 43%;
    transform: translateY(-50%);
    margin: 0;

    &--hidden {
      text-shadow: 0 0 0 rgba(0,0,0,0);
      transform: translateY(-50%) scale(.9);
    }
  }

  &-ripple {
    position: absolute;
    left: 28%;
    top: 35%;
    z-index: -1;
  }

  &-goButton {
    position: absolute;
    bottom: 100px;
    right: 15%;
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;

    cursor: pointer;

    opacity: 0;

    transform: scale(.5);
    box-shadow: 0 0 0 rgba(black, 0);
    text-shadow: 0 0 0 rgba(black, 0);
    transition: .5s $ease-in-out-bounce 1.15s;

    &:after {
      content: '';
      position: absolute;
      width: 150px;
      height: 150px;
      top: 50%;
      left: 50%;

      border-radius: 100%;

      box-shadow: 0 0 0 rgba(black, 0);

      transition: .5s $ease-in-out-bounce 1.15s;
      transform: translate(-50%, -50%) scale(.5);
    }

    &--mouseLeave {
      transition: .5s $ease-in-out-bounce;
      &:after {
        transition: .5s $ease-in-out-bounce;
      }
    }

    &--selected {
      box-shadow: 0 7px 10px rgba(black, .2);
      text-shadow: shadow();
      transform: scale(1);
      opacity: 1;

      &:after {
        box-shadow: 0 7px 10px rgba(black, .2);
        transform: translate(-50%, -50%) scale(1);
      }

      &:hover {
        transition: .5s $ease-in-out-bounce;
        transform: scale(1.2);
        box-shadow: 0 10px 15px rgba(black, .2);
        &:after {
          transition: .5s $ease-in-out-bounce;
          transform: translate(-50%, -50%) scale(.90);
          box-shadow: 0 10px 15px rgba(black, .2);
        }
      }

      &:active {
        transform: scale(1);
        box-shadow: 0 10px 15px rgba(black, .2);
        &:after {
          transition: .7s $ease-in-out-bounce;
          transform: translate(-50%, -50%) scale(1.1);
          box-shadow: 0 10px 15px rgba(black, .2);
        }
      }
    }
  }

  &-wave {
    position: absolute;
    bottom: 100px;
    right: 15%;
    width: 100px;
    height: 100px;

    border-radius: 100%;
    box-shadow: 0 7px 10px rgba(black, .2);
  }
}
