@import "../scss/settings.scss";

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.CaseStudy {

  &-blob {
    position: relative;
  }

  &-container {
    z-index: 5;
    width: 62.5%;
    max-width: 1080px;
    margin: 500px auto 0;
  }

  &-title {
    position: absolute;
    left: 15%;
    width: 40%;
    top: 43%;
    transform: translateY(-50%);
    margin: 0;
    z-index: 2;

    &--bottom {
      top: 100%;
    }
  }

  &-scrollButton {
    position: absolute;
    color: white;
    bottom: 140px;
    right: 170px;
    text-shadow: shadow();
    z-index: 2;
    font-size: 14px;
    text-transform: uppercase;

    animation: fadeIn .4s ease ;
  }

  &-infoBlock {

    height: 130px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $color-gray-medium;

    .title {
      width: 30%;
      text-transform: uppercase;
      font-size: 30px;
      letter-spacing: 5px;
      line-height: 45px;
      margin: 0;
      box-sizing: border-box;
    }

    .infos {
      width: 65%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      font-size: 14px;

      .info-item {
        &-title {
          text-transform: uppercase;
          font-weight: bold;
          margin: 0;
          letter-spacing: 3px;
          font-size: 12px;
        }

        &-content {
          letter-spacing: 3px;
          margin-top: 10px;
          font-weight: 300;
          font-size: 12px;
        }
      }
    }
  }

  .description {
    font-size: 14px;
    position: relative;
    color: $color-gray-medium;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 300;

    width: 40%;
    margin: 50px 0;
  }

  .categoryTitle {
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;

    font-size: 200px;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 5px 20px rgba(black, .1);
    z-index: -1;

    &--lowercase {
      text-transform: lowercase;
    }
  }

  .sectionTitle {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 8px;
    transform: translateY(700px);
    z-index: 10;
  }
}
