@import "compass/css3";
@import "../scss/settings.scss";

body {
  padding: 0;
  margin: 0;
}


.projectTitle {
  text-shadow: shadow();
  font-family: $font-title;
  text-transform: uppercase;
  font-size: 5rem;
}
