@import "../scss/settings.scss";

body {
  position: absolute;
  padding: 0;
  margin: 0;
  font-family: $font-title;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  z-index: -1;
}


.App {
  &-navigation {

    z-index: 20;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;

    &-projectCursor {

      filter: url('#goo');
      position: fixed;
      top: 50%;
      left: 45px;
      width: 6px;
      height: 40px;
      z-index: 20;

      transform: translateY(-50%);

      .cursor, .point {
        width: 6px;
        border-radius: 6px;
      }

      .cursor {
        height: 18px;
        position: absolute;
        transition: .7s $ease-in-out-bounce;
      }

      .point {
        height: 6px;
        margin-top: 6px;


        &-first {
          margin-top: 0;
        }
      }
    }

    &-menuIcon {
      position: fixed;
      top: 35px;
      left: 50px;
      width: 35px;
      height: 15px;
      z-index: 20;
      cursor: pointer;

      &-before, &-after {
        display: block;
        position: absolute;
        height: 4px;
        border-radius: 5px;
        background-color: white;
        transition: .3s $ease-in-out;
      }

      &-before {
        top: 0;
        width: 35px;

        &--cross {
          height: 6px;
          transform: rotateZ(45deg);
        }
      }

      &-after {
        bottom: 0;
        width: 20px;
        &--cross {
          height: 6px;
          width: 35px;
          transform: translateY(-9px) rotateZ(-45deg);
        }
      }
    }

    &-name {
      position: fixed;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 20;
      opacity: 1;
      transition: 1s $ease-in-out-heavy;

      &--hidden {
        transition: .2s $ease-in-out-heavy;
        opacity: 0;
      }
    }

    &-contact {
      position: fixed;
      top: 35px;
      right: 50px;
      cursor: pointer;
      z-index: 20;
      transition: .3s $ease-in-out;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}


.projectTitle {
  text-shadow: shadow();
  font-family: $font-title;
  text-transform: uppercase;
  font-size: 5rem;
}


.line {
  position: fixed;
  width: 1px;
  height: 100%;
  z-index: -1;
  top: 0;

  background-color: $color-gray-light;

  &--first {
    left: 18.75%;
  }

  &--second {
    left: 50%;
  }

  &--third {
    left: 81.25%;
  }
}
